{erl_opts, [{parse_transform, lager_transform}]}.
{deps, [
  {dhcomm, {git, "git@github.com:devDroidhang/dhcomm.git", {branch, master}}},
  {lager, {git, "git@github.com:erlang-lager/lager.git", {branch, master}}},
  {gpb, {git, "git@github.com:tomas-abrahamsson/gpb.git", {branch, master}}},
  {gproc, {git, "git@github.com:uwiger/gproc.git", {branch, master}}},
  {mongodb, {git, "git@github.com:comtihon/mongodb-erlang.git", {branch, master}}},
  {jiffy, {git, "git@github.com:davisp/jiffy.git", {branch, master}}}
]}.

{relx, [{release, {majong, "0.1.0"},
  [majong,
    sasl]},

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, true},
  {include_erts, true},

  {extended_start_script, true},
  {overlay, [{copy, "./config/majong.config", "config/majong.config"}]}
]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
  {include_erts, true}]}]
}]
}.
