[
{lager, [{handlers, [
{lager_console_backend, info},
{lager_file_backend, [
{file, "log/error.log"}, {level, error}, {size, 20485760000}, {date, "$D0"}, {count, 30}]},
{lager_file_backend, [
{file, "log/console.log"}, {level, info}, {size, 20485760000}, {date, "$D0"}, {count, 30}]},
{lager_file_backend, [
{file, "log/crash.log"}, {level, crash}, {size, 20485760000}, {date, "$D0"}, {count, 30}]}
]}]}
].
